~$*
.vscode
.conda
.venv
_build/
*.zip
*/.ipynb_checkpoints
.ipynb_checkpoints
*.DS_Store
*/.DS_Store
.DS_Store
06Foundation/02AICluster/.DS_Store
06Foundation/01Introduce/.DS_Store
06Foundation/02AICluster/.DS_Store
build_books/create_dir.py
prompt.txt
06AlgoData/01Basic/code/tokenizer.json
06AlgoData/01Basic/code/vocab.json
04Train/04PostTrainRL/test
.idea
